<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <video id="videoPlayer" width="650" controls muted="muted" autoplay>
      <source src="/image/<%=id%>" type="video/mp4" />
    </video>
    <i>Big Buck Bunny</i>
  </body>
</html>
